$header-font-sizes: (
  h1: (
    desktop: 3.75rem,
    mobile: 1.875rem,
  ),
  h2: (
    desktop: 2.375rem,
    mobile: 1.125rem,
  ),
);

//colors
$black: #08020d;
$gray: #e0e0e0;
$dark-gray: #cacaca;
$dark: #3c3b3d;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
